/* Main style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f9;
}

/* Nav style */
header nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}

header h1 {
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

header a {
  text-decoration: none;
}

/* Main style */

/* Header section style */
.header {
  background-image: url("../images/Header-shapes-mobile.svg");
  height: 718px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10%;
}

.header h1 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  width: 90%;
  font-weight: 700;
}

.header p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.header > a {
  text-decoration: none;
  color: #7f8cff;
  padding-top: 3px;
  padding-bottom: 23px;
}

.header .social a {
  color: #505f79;
}

.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header ul li {
  margin-right: 20px;
}

/* My Projects section style */
.my-projects {
  display: grid;
  grid-row-gap: 88px;
  padding: 88px 24px;
}

.project {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.project img {
  border-radius: 8px;
  height: 220px;
  object-fit: cover;
}

.project ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 15px 0;
  align-items: center;
}

.project ul li {
  margin-right: 20px;
  background-color: #ebebff;
  padding: 4px 12px;
  height: 24px;
  border-radius: 8px;
  color: #6070ff;
}

.project .project-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  padding: 10px 0;
  margin: 0;
  padding-right: 25%;
  line-height: 44px;
}

.project p {
  padding: 0 3px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0;
  width: 85%;
}

.project .project-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #344563;
  padding: 0 2px;
}

.project .project-sub-header .sub-different-color {
  color: #7a869a;
}

.project .project-sub-header .bullet {
  font-size: 30px;
}

.project .project-details {
  padding: 12px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  color: #396df2;
  text-align: center;
}

/* About Us section style */
.about {
  background-color: #fff;
}

.about .header {
  background-image: none;
  height: auto;
  padding-bottom: 10px;
}

.about .header .lets-connect {
  text-decoration: none;
  color: #7f8cff;
  padding-top: 3px;
  padding-bottom: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.about .header .about-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  padding: 10px 0;
  margin: 0;
  padding-right: 45%;
  line-height: 44px;
}

.about .header ul {
  margin-left: 15px;
}

.about .header .resume-button {
  padding: 12px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 162px;
  height: 48px;
  color: #396df2;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
}

.about .languages {
  display: grid;
  padding-bottom: 100px;
}

.about .languages .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  height: 72px;
}

.about .languages .item div {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
}

.about .languages .item .down-arrow {
  width: 14px;
  height: 8px;
  color: #505f79;
}

.about .languages .item .right-arrow {
  width: 8px;
  height: 14px;
  color: #505f79;
}

.about .languages hr {
  color: #dfe1e6;
  height: 1px;
  width: 84%;
  margin: 0 auto;
  text-align: center;
}

.about .languages ul {
  margin: 0;
  padding: 0;
}

.about .languages .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  margin: 0 24px;
}

.about .languages .content div {
  display: flex;
  align-items: center;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 0 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}
